
modulo_inventario/modulo_inventario/bin/**
modulo_inventario/modulo_inventario/obj/**
modulo_inventario/.vs/**
modulo_inventario/modulo_inventario/bin/**
modulo_inventario/modulo_inventario/obj/**
modulo_inventario/.vs/**
